html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.scroll-child {
    min-height: 100vh;
    scroll-snap-align: start;
}

h1, h2, h3 {
    color: #00c2cb;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 2em;
    text-shadow: 2px 2px 6px darkgray;
}

p {
    font-size: 1.3em;
    line-height: 1.8em;
}

.card {
    background-color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
}

.card p {
    font-size: 1em;
}

button {
    border: none;
    height: 4em;
    width: 14em;
    background-color: #00c2cb;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    transition: transform 1s;
}

button:hover {
    background-color: black;
    transform: scale(1.05);
}

.container {
    padding-top: 4.5em;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main, #header-content {
    padding-left: 22vw;
    padding-right: 22vw;
}

main {
    background-color: #f1f0ee;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    height: 4.5em;
    box-shadow: 0px 1px 10px gray;
    display: flex;
    align-items: center;
}

header img {
    height: 4em;
}

#header-content {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    font-weight: 600;
    font-size: 1.2em;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 2vw;
}

nav li:last-child {
    margin-right: 0px;
}

nav a {
    color: black;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #00c2cb;
}

#bio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bio .container {
    display: flex;
    flex-direction: row;
}

#bio img {
    height: 40vh;
    border-radius: 5px;
    border: 1px solid darkgray;
    box-shadow: 0px 0px 15px gray;
}

#skills {
    height: 100vh;
    width: 100%;
}

#skills img {
    height: 8em;
    padding-bottom: 2em;
}

#skills .container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#skills-logos {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#skills-logos .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 9vw;
    border-radius: 5px;
}

#projects {
    height: 100vh;
}
#projects .container{
    height: 90%;
}

#projects img {
    width: 100%;
    margin-bottom: 5%;
    border-radius: 5px;
}

#projects .card {
    width: 28%;
    height: 100%;
    padding-right: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#projects h3 {
    padding-bottom: 1em;
}

#projects p {
    height: 20%;
}

#projects-cards {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

#contact {
    height: 100vh;
}

#contact .container {
    height: 70%;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#contact input, #contact textarea {
    border-radius: 5px;
    border: none;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer p {
    margin: 0px 0px 0px 0px;
}

#hamburger {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    height: 60%;
    width: 5vw;
    right: 2vw;
}

#hamburger div {
    border-radius: 2px;
    width: 100%;
    height: 12%;
    background-color: black;
    margin-top: 15%;
    margin-bottom: 15%;
}

#dropdown {
    position: fixed;
    visibility: hidden;
    top: 50px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    height: 10em;
    min-height: fit-content;
    background-color: white;
    box-shadow: 0px 1px 10px gray;
}

#dropdown ul {
    height: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#dropdown a {
    color: black;
}

#dropdown a:link {
    text-decoration: none;
}

#dropdown a:hover {
    text-decoration: none;
    color: #00c2cb;
}

@media only screen and (max-width:1700px) {
    main, #header-content {
        padding-left: 20vw;
        padding-right: 20vw;
    }
    #skills-logos .card {
        width: 15%;
    }
    #projects img {
        width: 100%;
    }
}

@media only screen and (max-width:1400px) {
    main, #header-content {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media only screen and (max-width:1300px) {
    main, #header-content {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media only screen and (max-width:1100px) {
    #bio img {
        height: 35vw;
    }
    p {
        font: 1em;
    }
}

@media only screen and (max-width:900px) and (orientation: portrait) {
    #bio p, #skills p, #projects,button {
        font-size: 0.8em;
    }
    h2 {
        font-size: 1.3m;
    }
    #hamburger {
        visibility: visible;
    }
    #bio .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    main, #header-content {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .container {
        height: 90vh;
    }
    nav {
        visibility: collapse;
    }
    #skills img {
        height: initial;
        width: 10%;
        padding:0;
    }
    #skills .container{
        height: 95%;
        justify-content: center;
        align-items: center;
    }
    #skills-logos {
        width: inherit;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #skills .card{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 15%;
    }
    #skills .card div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 85%;
    }
    #skills h3{
        text-align: left;
        font-size: 1em;
    }
    #skills p{
        text-align: right;
    }
    #projects h2{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #projects h3{
        padding-top: 0;
        padding-bottom: 0;
    }
    #projects-cards{
        height: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #projects .container {
        height: 85%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #projects img {
        width: 38%;
        margin:0;
    }
    #projects .card {
        height: 28%;
        width: 90%;
        padding:0px;
        padding-left: 2%;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #projects .cardtext {
        text-align: left;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #projects button {
        width: 50%;

    }
    
    
}

@media only screen and (max-width:600px) {
    #hamburger {
        width: 8vw;
    }
}