html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.scroll-child {
    display: flex;
    align-items: center;
    min-height: 100vh;
    scroll-snap-align: start;
}

h1, h2, h3 {
    color: #00c2cb;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 2em;
    text-shadow: 2px 2px 6px darkgray;
}

p {
    font-size: 1.3em;
    line-height: 1.8em;
}

.card {
    background-color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    box-shadow: 0px 0px 10px gray;
}

.card p {
    font-size: 1em;
}

button {
    border: none;
    height: 4em;
    width: 14em;
    background-color: #00c2cb;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    transition: transform 1s;
}

button:hover {
    background-color: black;
    transform: scale(1.05);
}

.container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main, #header-content {
    padding-left: 22vw;
    padding-right: 22vw;
}

main {
    background-color: #f1f0ee;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 0px 1px 10px gray;
}

header img {
    height: 3.2em;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    font-weight: 600;
    font-size: 1.2em;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 2vw;
}

nav li:last-child {
    margin-right: 0px;
}

nav a {
    color: black;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #00c2cb;
}

#bio {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#title-paragraph {
    width: 60%;
}

#bio img {
    height: 40vh;
    border-radius: 5px;
    border: 1px solid darkgray;
    box-shadow: 0px 0px 15px gray;
}

#skills {
    min-height: 100vh;
    width: 100%;
}

#skills img {
    height: 8em;
    padding-bottom: 2em;
}

#skills-logos {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#skills-logos .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 9vw;
    border-radius: 5px;
}

#projects img {
    width: 17em;
}

#projects .card {
    height: 22em;
    padding-right: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#projects h3 {
    padding-bottom: 1em;
}

#projects p {
    height: 20%;
}

#projects-cards {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

#contact .container {
    align-items: flex-start;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer p {
    margin: 0px 0px 0px 0px;
}
#hamburger{
    visibility: hidden;
    position: absolute;
    z-index: 2;
    height: 60%;
    width: 5vw;
    right: 2vw;

}

#hamburger div{
    border-radius: 2px;
    width: 100%;
    height: 12%;
    background-color: black;
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
}
#dropdown{
    visibility: hidden;
    position: fixed;
    padding-top: 9vh;
    padding-bottom: 2.5vh;
    width: 100%;
    height: 20vh;
    background-color: white;
    box-shadow: 0px 1px 10px gray;
    
}
#dropdown ul{
    height: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
#dropdown a {
    color: black;
}

#dropdown a:link {
    text-decoration: none;
}

#dropdown a:hover {
    text-decoration: none;
    color: #00c2cb;
}

@media only screen and (max-width:1700px) {
    main, #header-content {
        padding-left: 20vw;
        padding-right: 20vw;
    }
    #skills-logos .card {
        width: 15vw;
    }
    #projects img{
        width: 15em;
    }
}
@media only screen and (max-width:1400px) {
    main, #header-content {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
@media only screen and (max-width:1300px) {
    main, #header-content {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
@media only screen and (max-width:1100px) {
    #bio img{
        height: 35vw;
    }
    p{
        font: 1em;
    }
}
@media only screen and (max-width:900px) {
    #hamburger{
        visibility: visible;
    }
    #bio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    main, #header-content {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    nav{
        visibility: collapse;
    }
    #skills img{
        height:initial;
        width: 90%;
    }
    #projects .container{
        justify-content: center;
    }
    #projects h2{
        margin-bottom: 10vh;
    }
    #projects img{
        width: 95%;
    }
    #projects .card{
        width: 29vw;
    }
    #projects button{
        width: 80%;
    }
}
@media only screen and (max-width:600px) {
    #hamburger{
        width: 8vw;
    }
}